@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    background-color: #000;
    color: #FFF;
    height: 85vh;
    box-sizing: border-box;
}
.cabecalho{
    padding: 0% 0;
}
.projetos__conteudo{
    width: 100%;
    text-align: center;
}
.projetos__conteudo__titulo{
    color: #CAAA00;
    font-size: 40px;
    margin: 2% 0;
    font-family: 'Jost',sans-serif;
    font-weight: 400;
}
.projetos__grid{
    display: flex;
    justify-content: space-around;
    padding: 1% 5%;
    gap: 10%;
}
.projetos__grid__elementos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
    width: 100%;
    
}
.projetos__grid__elementos__titulo{
    font-size: 40px;
}
.projetos__grid__elementos__btn{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: 'Jost',sans-serif;
    
}
.projetos__grid__elementos__btn:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: #f7b7b7;
    
}
.cor__verde{
    color:#00FF19;
}

.cabecalho__menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.cabecalho__menu__link{
    padding: 1% 8%;
    text-decoration: none;
    font-family: 'Jost',sans-serif;
    font-size: 30px;
    color: #FF0000;

}
.cabecalho__menu__link:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.cor__html{
    color: #FF2E00;
}
.cor__css{
    color: #1400FC;
}
.cor__javascript{
    color: #FAFF00;
}
.cor__python{
    color: #CAAA00;
}
.cor__react{
    color: #00FF19;
}
.cor__reactNative{
    color: #026700;
}
.cor__java{
    color: #FD4949;
}
.cor__vermelha{
    color: #FF0000;
}
.biografia{
    display: flex;
    margin:0% 10%;
    padding: 2% 1%;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}
.biografia__conteudo{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 49px;
}
.biografia__conteudo__titulo{
    font-size: 40px;
    font-family: 'Jost', sans-serif;
}
.biografia__conteudo__texto{
    font-size: 23px;
    font-family: 'Jost', sans-serif;
}
.biografia__imgLinks{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.biografia__links{
    display: flex;
    width: 66%;
    margin: 0% 15%;
    box-sizing: border-box;
    gap: 176px;   
}
.biografia__conteudo__link{
    text-decoration: none;
    text-align: center;
    background-color: #0500FF;
    padding:15px 30px;     
    color:#fff;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    border-radius: 16px;
}